.home-container{
    min-height: 100vh;
    background-color: rgb(77,77,77);
}

.main-container{
    display: flex;
    min-height: 100%;
    min-width: 100%;
}


.left-content{
    background-color: #FF0000;
    width: 4%;
    border-right: 1px solid black;
}

#hamburger-icon{
    margin: 5px;
    font-size: 30px;
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 6px;
    outline: 1px solid black;
}

#offcanvasTop{
    width: 20%;
    background-color:#FF0000;
}

.create-playlist-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-playlist-div input{
    border-radius: 8px;
}

.create-playlist-div button{
    position: relative;
    top: -25px;
    width: 50%;
    margin:10px 28%;
    height: 30px;
    font-weight: 500;
    padding: 5px;
    font-size: 14px;
    transition: all 0.2s;
    border-radius: 8px;
    border: 2px transparent solid;
}

.create-playlist-div button:hover{
    transition: 0.2s;
    color: azure;
    background-color: rgb(127,127,127);
    border: solid black 2px;
}

.playlists{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.playlists button{
    margin:4px 28%;
    font-weight: 500;
    padding: 5px;
    font-size: 14px;
    transition: all 0.2s;
    border-radius: 8px;
    border: 2px transparent solid;
}

.playlists button:hover{
    transition: 0.2s;
    color: azure;
    background-color: rgb(127,127,127);
    border: solid black 2px;
}

.right-content{
    width: 100%;
}


.home-nav{
    display:flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: rgb(35, 35, 35);
}

#searchKeyword{
    border-radius: 8px;
}

#search-btn{
    font-weight: 500;
    padding: 1px 5px;
    font-size: 14px;
    transition: all 0.2s;
    border-radius: 8px;
    border: 2px transparent solid;
}

#search-btn:hover{

    transition: 0.2s;
    color: azure;
    background-color: rgb(127,127,127);
    border: solid black 2px;
}

#logout-btn{
    font-weight: 500;
    padding: 1px 5px;
    font-size: 14px;
    transition: all 0.2s;
    border-radius: 8px;
    border: 2px transparent solid;
}

#logout-btn:hover{
    transition: 0.2s;
    color: azure;
    background-color: rgb(127,127,127);
    border: solid black 2px;
}

.videoSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
}


.search-btn{
    height: 30;
    font-weight: 500;
    padding: 1px 5px;
    font-size: 14px;
    transition: all 0.2s;
    border-radius: 8px;
}

#search-video{
    display: none;
}

.search-btn:hover{
    transition: 0.2s;
    color: azure;
    background-color: rgb(127,127,127);
    border: solid black 2px;
}

#video-search{
    width: 60%;
    border-radius: 6px;
    height: 30;
}

.playlist-content-modal{
    width: 100%;
    margin: auto;
}

.playlist-content-modal div{
    display: flex;
    align-items: center;
    justify-content: center;
}


#playlist-content-modal div button{
    height: min-content;
    font-weight: 500;
    padding: 1px 5px;
    margin: 2px;
    font-size: 14px;
    transition: all 0.2s;
    border-radius: 8px;
}

#video-search{
    height: 30px;
}

#playlist-content-modal div button:hover{
    transition: 0.2s;
    color: azure;
    background-color: rgb(127,127,127);
    border: solid black 2px;
}

.main-content{
    padding: 30px;
    background-color: rgb(77,77,77);
}

.main-content .container{
    
    background-color: aliceblue;
    width: 70%;
    margin:auto;
    border-radius: 4px;
}

#results{
    background-color: rgba(255, 255, 255, 0.901);
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    right: 13%;
    z-index: 5;
    width: 262px;
    top: 58;
}

#results button{
    position: relative;
    width: 262px;
    
}

#modal-content{
   min-height: 75vh;
}
